body {
    font-family: 'Times New Roman', serif;
    color: rgb(255, 255, 255);

    background-image: url("bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 8vh;
}

.banner {
    position: fixed;
    background-image: linear-gradient(to top, rgb(66, 66, 66), rgb(56, 56, 87));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    top: 1vh;
    left: 1vh;
    right: 1vh;
    padding-left: 1%;
    padding-right: 1%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-style: italic;
}
